<?xml version="1.0"?>
<robot name="do" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="use_ros2_control" default="true"/>
    <xacro:arg name="use_sim" default="false"/>

	<xacro:property name="mm_to_m" value="0.001"/>

	<xacro:property name="base_link_length" value="${204 * mm_to_m}"/>
	<xacro:property name="base_link_width" value="${460 * mm_to_m}"/>
	<xacro:property name="base_link_height" value="${156 * mm_to_m}"/>
	<xacro:property name="base_link_ground_clearance" value="${20.5 * mm_to_m}"/>

	<xacro:property name="ball_wheels_radius" value="${9.5 * mm_to_m}"/>
	<xacro:property name="ball_wheels_x_offset" value="${79.3 * mm_to_m}"/>
	<xacro:property name="ball_wheels_spacing" value="${413.5 * mm_to_m}"/>

	<xacro:property name="wheels_radius" value="${55.5 * mm_to_m}"/>
	<xacro:property name="wheels_width" value="${44 * mm_to_m}"/>
	<xacro:property name="wheels_x_offset" value="${40 * mm_to_m}"/>
	<xacro:property name="wheels_spacing" value="${414.7 * mm_to_m}"/>

	<xacro:property name="trailer_length" value="${180 * mm_to_m}"/>
	<xacro:property name="trailer_width" value="${265 * mm_to_m}"/>
	<xacro:property name="trailer_height" value="${156 * mm_to_m}"/>
	<xacro:property name="trailer_ground_clearance" value="${20.5 * mm_to_m}"/>
	<xacro:property name="trailer_visual_x_offset" value="${158 * mm_to_m}"/>

	<xacro:property name="trailer_axis_x_offset" value="${78 * mm_to_m}"/>
	<xacro:property name="trailer_axis_height" value="${100.5 * mm_to_m}"/>

	<xacro:property name="caster_wheels_radius" value="${16 * mm_to_m}"/>
	<xacro:property name="caster_wheels_x_offset" value="${215 * mm_to_m}"/>
	<xacro:property name="caster_wheels_spacing" value="${331.2 * mm_to_m}"/>

	<xacro:property name="total_mass" value="3.1"/>

	<xacro:include filename="materials.xacro"/>
	<xacro:include filename="do_inertia.xacro"/>
	<xacro:include filename="do_chassis.xacro"/>
	<xacro:include filename="do_trailer.xacro"/>
	<!-- <xacro:include filename="lidar.xacro"/> -->

	<xacro:include filename="gazebo.xacro"/>    
</robot>