<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="right_ball_wheel">
        <mu1 value="0.31" />
        <mu2 value="0.31" />
    </gazebo>
    <gazebo reference="left_ball_wheel">
        <mu1 value="0.31" />
        <mu2 value="0.31" />
    </gazebo>
    
    <gazebo reference="right_caster_wheel">
        <mu1 value="0.31" />
        <mu2 value="0.31" />
    </gazebo>
    <gazebo reference="left_caster_wheel">
        <mu1 value="0.31" />
        <mu2 value="0.31" />
    </gazebo>

    <gazebo reference="right_wheel">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="left_wheel">
        <material>Gazebo/Black</material>
    </gazebo>
</robot>