<?xml version="1.0"?>
<robot name="da" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="use_ros2_control" default="true"/>
    <xacro:arg name="use_sim" default="false"/>

	<xacro:property name="mm_to_m" value="0.001"/>

	<xacro:property name="base_link_length" value="${480.1 * mm_to_m}"/>
	<xacro:property name="base_link_width" value="${462 * mm_to_m}"/>
	<xacro:property name="base_link_height" value="${251.7 * mm_to_m}"/>
	<xacro:property name="base_link_ground_clearance" value="${8 * mm_to_m}"/>

	<xacro:property name="wheels_radius" value="${55.5 * mm_to_m}"/>
	<xacro:property name="wheels_width" value="${44 * mm_to_m}"/>
	<xacro:property name="wheels_x_offset" value="${68.9 * mm_to_m}"/>
	<xacro:property name="wheels_spacing" value="${421.6 * mm_to_m}"/>

	<xacro:property name="caster_wheels_radius" value="${16 * mm_to_m}"/>
	<xacro:property name="caster_wheels_x_offset" value="${197 * mm_to_m}"/>
	<xacro:property name="caster_wheels_spacing" value="${436.5 * mm_to_m}"/>

	<xacro:property name="lidar_radius" value="${35 * mm_to_m}"/>
	<xacro:property name="lidar_height" value="${20 * mm_to_m}"/>
	<xacro:property name="lidar_x_offset" value="${175 * mm_to_m}"/>
	<xacro:property name="lidar_z_offset" value="${264 * mm_to_m}"/>
	<xacro:property name="lidar_mass" value="${0.170}"/>

	<xacro:property name="total_mass" value="3.1"/>

	<xacro:include filename="materials.xacro"/>
	<xacro:include filename="da_inertia.xacro"/>
	<xacro:include filename="da_chassis.xacro"/>
	<xacro:include filename="lidar.xacro"/>

	<xacro:include filename="gazebo.xacro"/>    
</robot>